body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: none;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  /* display: none; for Chrome, Safari, and Opera */
}

* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

.nav{
  background-color:rgb(237, 237, 237);
}

.brand {
  min-width: 20px;
}

.Login-LogoutBtn {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-weight: 500;
}

.Login-LogoutBtn:hover {
  color: rgb(79, 79, 79);
  cursor: pointer;
}

a {
  padding: 8px;
  text-align: center;
}

/* NAV BAR */
#basic-navbar-nav {
  justify-content: flex-end;
  text-align: center;
}

.drop-item {
  color: rgb(31, 31, 31);
  width: 158px;
  /* margin: auto !important; */
  /* margin-right: 5px !important; */
  margin-left: 5px;
  /* padding: 4px; */
  font-family: "Helvetica Neue";
  font-weight: 400;
  text-decoration: none;
}

.drop-item:hover {
  background-color: rgba(255, 255, 255, 0.714);
  color: rgb(31, 31, 31);
}

.nav-item {
  margin: auto !important;
  /* margin-right: 5px !important; */
  padding: 4px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
}

.nav-item:active,
.nav-item:visited,
.nav-item:link {
  text-decoration: none;
  color: rgb(31, 31, 31);
  /* margin-right: 5px !important; */
}

.nav-item:hover {
  color: rgba(52, 52, 52, 0.714);
}

.navContainer {
  margin-left: 10px;
  margin-right: 10px;
}

#basic-nav-dropdown {
  display: flex;
}

.dropdown-toggle::after {
  margin-left: 0px !important;
  display: none !important;
}

.nav-icon {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 50px;
  color: black;
  word-spacing: 25px;
}

.thumbnail-img {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 100px;
}

.thumbnail-img-user {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  display: none;
}

p{
  text-align: center;
}

.columns-container {
  position: relative;
  display: flex;
  top: 4px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 18px;
  height: 89vh;
}

.sides {
  display: flex;
  flex-direction: column;
  height: 600px;
}
.app-large {
  margin-bottom: 15px;
  background-color: #252d4a;
  width: 400px;
  min-height: 200px;
  height: 400px !important;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}


.app-large p{
  font-size: 10px;
  color:rgba(255, 255, 255, 0.714);
}

.privacy:link, .privacy:active, .privacy:visited{
  color:rgba(255, 255, 255, 0.714);
  text-decoration: none;
}

.privacy:hover{
  color: white;
}

.Login-LogoutBtn{
  height: 38px;
}

#login-home{
  color:rgb(255, 255, 255);
  width: 102px;
  background-color: #0d6efd;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#login-home:hover{
  background-color: rgb(18, 94, 244);
}

.large2 {
  background-color: #252d4a;
  width: 400px;
  min-height: 200px;
  height: 400px !important;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.team {
  position: absolute;
  left: 147px;
  top: 660px;
  margin-bottom: 25px;
  background-color: #252d4a;
  width: 1236px;
  min-height: 200px;
  height: 300px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  /* display: flex;
  justify-content: space-evenly; */
}

.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  font-size: 21px;
}

.addQuestion-app {
  background-color: #252d4a;
  width: 400px;
  min-height: 400px;
  height: 48vh;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

footer{
  position: inline-block;
  top: 900px;
  color: black;
  text-align: center;
  background-color: #81b1ce;

}

h4 {
  display: none;
}

h3 {
  font-weight: bolder;
  text-align: center;
}

.profilePic{
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 100px;
  position:relative;
}

.addQuestionIns {
  font-size: 10.4px;
  color: rgba(255, 255, 255, 0.714);
  margin-bottom: 1px;
}

input {
  color: #000;
  border-radius: 10px;
  padding: 7px;
}

.bio{
  resize: none;
  padding: 7px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sideBySideInputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.vertAlign {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.yourQuestion {
  min-height: 50px;
  border-radius: 12px;
  resize: none;
  padding: 7px;
  color: black;
  height: 70px;
}

.yourAnswer {
  border-radius: 6px;
  padding: 2px;
  padding-left: 5px;
  width: 75%;
}

.submitBtn {
  margin-top: 10px;
}

.addedquestions{
  overflow-y: scroll;
}

.addedquestions::-webkit-scrollbar {
  width: 1em;
}

.addedquestions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border-radius: 6px;
}

.addedquestions::-webkit-scrollbar-thumb {
   background-color: royalblue;
   outline: 1px solid dimgray;
   border-radius: 8px;
}

.addedquestions p{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.app {
  background-color: #252d4a;
  width: 400px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;

  /* justify-content: space-evenly;
  justify-content: space-between; */
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.questionBox {
  /* border: 1px solid white; */
  border-radius: 7px;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.488);
}

.questionBoxControls {
  display: flex;
  flex-direction: row;
}

.app-profile-questions {
  background-color: #252d4a;
  width: 400px;
  min-height: 400px;
  height: min-content;
  max-height: 80vh;
  resize: vertical;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* justify-content: space-evenly;
  justify-content: space-between; */
}

.welcome{
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.app-ins {
  background-color: #252d4a;
  width: 400px;
  min-height: 600px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 19px;
}

.ins-container {
  top: 100px;
}

.app-ins h2 {
  font-weight: bold;
  text-align: center;
}

.appGame {
  background-color: #252d4a;
  width: 600px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  /* justify-content: space-evenly;
  justify-content: space-between; */
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 26%;
  font-size: 24px;
  gap: 12px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-right: 10px;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ansButton {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #31374d;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin-bottom: 12px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}



button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.small-screen{
  display: none;
}

@media only screen and (max-width: 1100px) {
  .columns-container {
    top: 30px;
    flex-direction: column;
    max-height: 100vh;
    margin: auto;
  }
}

@media only screen and (max-width: 518px) {
  .nav-item{
    display: none;
  }
  
}

@media only screen and (max-width: 425px) {
  .app,
  .app-ins {
    top: 50px;
    width: 350px;
  }

  #basic-navbar-nav {
    position: relative;
  }
}

@media only screen and (max-width: 375px) {
  body {
    margin-bottom: 20px;
  }

  .app,
  .app-ins {
    top: 50px;
    width: 320px;
  }

  #basic-navbar-nav {
    position: relative;
  }
}

@media only screen and (max-width: 320px) {
  body {
    margin-bottom: 20px;
  }

  .app,
  .app-ins {
    top: 50px;
    width: 300px;
  }

  #basic-navbar-nav {
    position: relative;
  }
}

@media only screen and (max-width: 250px) {
  body {
    margin-bottom: 20px;
  }

  .app,
  .app-ins {
    top: 50px;
    width: 230px;
  }

  #basic-navbar-nav {
    position: relative;
  }
}

/* PROFILE PAGE */

.app-profile {
  background-color: #252d4a;
  width: 400px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly;
  justify-content: space-between; */
}

.textBoxes{
  text-align: center;
}

.app-profile input,
textarea {
  border-radius: 12px;
  text-align: center;
}
